<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='styles/reg.css')}}" /> -->

    
    <title>About</title>
    <style>
        *{
          background-color:#1abc9c;
         box-sizing: border-box;
          
        }   
.column {
  float: left;
  width: 25%;
  padding: 4px;
  
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
    </style>
</head>
<body>
    
    <h3 id="my"><b><u>Developer Details:-</u></b></h3>
    
    <div class="row">
      <div class="column">
        <img src="/static/prasen.jpg" alt="5 Terre" style="width:28%">
        <p><b><u>Name:-</u> Prasenjit Maity</b></p>
        <p><b><u>Email:-</u> prasenjitmaitytecb@gmail.com</b></p>
        <a href="https://www.linkedin.com/in/prasenjit-maity-932544269">Linkedin</a>
      </div>
      <div class="column">
        <img src="/static/gou.jpg" alt="5 Terre" style="width:40%">
        <p><b><u>Name:-</u> Gourab Karak</b></p>
        <p><b><u>Email:-</u> karakgourab2002@gmail.com</b></p>
        <a href="https://www.linkedin.com/in/gourab-karak-037aaa267">Linkedin</a>
      </div>
      <div class="column">
        <img src="/static/Ae.jpeg" alt="5 Terre" style="width:30%">
        <p><b><u>Name:-</u> Arnam Ghosh</b></p>
        <p><b><u>Email:-</u> arnamghosh5@gmail.com</b></p>
        <a href="https://www.linkedin.com/in/arnam-ghosh/">Linkedin</a>
      </div>
      <div class="column">
        <img src="/static/arup.jpg" alt="5 Terre" style="width:30%">
        <p><b><u>Name:-</u> Arup Kumar Dey</b></p>
        <p><b><u>Email:-</u> deyarupkumar97@gmail.com</b></p>
        <a href="https://www.linkedin.com/in/arup-kumar-dey-7317a0281">Linkedin</a>
      </div>
      </div>
      
</body>
</html>