<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transcriptiont</title>
</head>
<body>
    

    <table border= 10>
        <thead>
            <td class="td">Total Word</td>
            <td class="td">Total Space</td>
            <td class="td">Totat Character</td>
            <td class="td">Number of vowel</td>
            <td class="td">Number of consonant</td>
        </thead>

            <tr>
                <td>{{word_count}}</td>
                <td>{{space_count}}</td>
                <td>{{total_char}}</td>
                <td>{{vowel}}</td>
                <td>{{non_vowel}}</td>
            </tr>
    

    </table>


</body>
</html>