<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <table border= 10>
        <thead>
            <td class="td">Transcripted Text</td>
            <td class="td">File Analysis</td>
            <td class="td">Recorded Audio intext</td>
            <td class="td">Highlighted Text</td>
        </thead>

        {% for row in text %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
            </tr>
        {%  endfor %}

    </table> -->





    <!-- Techer Login Information-->
    <h2>[loginInformation]User login Information </h2>
    <table border= 5>
        <thead>

            <td>Email</td>
            <td>Password</td>

        </thead>

        {% for row in ulogin %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                
            </tr>
        {%  endfor %}

    </table>

</body>
</html>